.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: darkgrey;
}
.card {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: black
}


.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 8em;
  height: 12rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
}

.card-container {

  width: 50em;
  height: 18em;
  padding: 20px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.card-text{
  color: white;
}
a {
  margin:0%;
  max-height: 20px;
}
.clicked {
  height: 20px;
}

.panel-container{
  margin: 20px;
  padding-top: 30px;

}

.panel-body{
  color: black;
}

.navbar-container{
  max-width: 1200;
}