:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: darkgrey;
}
.card {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: black
}


.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 14rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52;
}

.card-container {

  width: 100%vw;
  height: 18rem;
  padding: 20px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.card-text{
  color: white;
}

a {
  margin:0%;
  max-height: 10px;
  color: black;
}
.clicked {
  height: 30px;
  border-radius: 40px;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s, ease-in;
}

.panel-container{
  margin: 20px;
  padding-top: 30px;

}

.panel-body{
  color: black;
}

nav.navbar {
  width: 100%;
  background-color: saddlebrown;
  display: flex;
}

.navbar-container{
  width: 100%;
  
  justify-content: center;
  padding: 10px;
  margin: auto ;
}

.nav-link-container{
  flex-direction: row;
  width: 100%
}

.nav-link {
  width: auto;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.form-box {
  width: 560px;
}

.signup-form {
  align-items: right;
}